* {
  margin: 0;
  padding: 0;
  font-family:sans-serif;
} 
img {
  width: 25%;
  display: block;
  margin: auto;
  padding: auto;
}
body{
  background: url("https://images.pexels.com/photos/3165335/pexels-photo-3165335.jpeg?cs=srgb&dl=pexels-lucie-liz-3165335.jpg&fm=jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.flex{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  min-width: 300px;
  flex-wrap: wrap;
  align-items: center;
  font-size: 1.1rem;
}
.mad-libs-edit{
  background: rgba(0, 0, 0, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 40%;
  padding: 3%;
  color: azure;
  letter-spacing: 1px;
  line-height: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: max-content;
}
.mad-libs-preview{
  background: rgba(0, 0, 0, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  width: 40%;
  padding: 3%;
  color: azure;
  letter-spacing: 1px;
  line-height: 25px;
  display: flex;
  align-items: center;
  flex-direction: column;
  height:max-content;
}
input{
  width: 13%;
  height: 13%;
  margin: 2px;
  border-radius: 4px;
  transition: 1.1s ease;
  background-color: rgb(92, 119, 243);
  color: rgb(255, 255, 255);
  font-size: 1rem;
  font-weight:bolder;
}
input:focus {
  
  background-color: rgb(77, 23, 76);
  transform: scale(1);
}
h1{
  margin-bottom: 20px;
  color: aqua;
  background-color: rgb(77, 23, 76);
  padding: 10px;
  border-radius: 15px;
  font-size: 1.5rem;
}
span{
  color:rgb(255, 102, 209);
  font-weight: 900;
  font-size: 1.3rem;
}
p{
  line-height: normal;
}
.btn {
  color: #fff;
  padding : 15px 25px;
  background-color: #4a0b4d;
  background-image: radial-gradient(93% 87% at 87% 89%, rgba(0, 0, 0, 0.23) 0%, transparent 86.18%), radial-gradient(66% 66% at 26% 20%, rgba(255, 255, 255, 0.55) 0%, rgba(255, 255, 255, 0) 69.79%, rgba(255, 255, 255, 0) 100%);
  box-shadow: inset -3px -3px 9px rgba(255, 255, 255, 0.25), inset 0px 3px 9px rgba(255, 255, 255, 0.3), inset 0px 1px 1px rgba(255, 255, 255, 0.6), inset 0px -8px 36px rgba(0, 0, 0, 0.3), inset 0px 1px 5px rgba(255, 255, 255, 0.6), 2px 19px 31px rgba(0, 0, 0, 0.2);
  border-radius: 14px;
  font-weight: bold;
  font-size: 2rem;
  margin-left:45%;
  margin-top: 10%;
  transition: 1s ease;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  cursor: pointer;
}
.btn:hover{
  transform: scale(1.2);
  background-color: #328b8b;
}
.welcome-title{
  color: rgb(203, 233, 247);
  background: rgba(0, 0, 0, 0.32);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  font-family: cursive;
  font-size: 3rem;
  margin-left: 10%;
  margin-right: 10%;
  font-weight: 900;
  padding: 30px;
}


